body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #000080 !important;
}
.bg-success {
  background-color: #ffd700 !important;
}
.bg-info {
  background-color: #3cb371 !important;
}
.bg-warning {
  background-color: #ff7f50 !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #000080 !important;
  border-color: #000080 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000029 !important;
  border-color: #000029 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000029 !important;
  border-color: #000029 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #000080 !important;
  border-color: #000080 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000029 !important;
  border-color: #000029 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000029 !important;
  border-color: #000029 !important;
}
.btn-info,
.btn-info:active {
  background-color: #3cb371 !important;
  border-color: #3cb371 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #267248 !important;
  border-color: #267248 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #267248 !important;
  border-color: #267248 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffd700 !important;
  border-color: #ffd700 !important;
  color: #000000 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #a88e00 !important;
  border-color: #a88e00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #000000 !important;
  background-color: #a88e00 !important;
  border-color: #a88e00 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ff7f50 !important;
  border-color: #ff7f50 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #f84300 !important;
  border-color: #f84300 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #f84300 !important;
  border-color: #f84300 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #000080;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000029 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000080 !important;
  border-color: #000080 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #000080;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000029 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #000080 !important;
  border-color: #000080 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #3cb371;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #267248 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #3cb371 !important;
  border-color: #3cb371 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffd700;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #a88e00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000000 !important;
  background-color: #ffd700 !important;
  border-color: #ffd700 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff7f50;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #f84300 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ff7f50 !important;
  border-color: #ff7f50 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #000080 !important;
}
.text-secondary {
  color: #000080 !important;
}
.text-success {
  color: #ffd700 !important;
}
.text-info {
  color: #3cb371 !important;
}
.text-warning {
  color: #ff7f50 !important;
}
.text-danger {
  color: #ffffff !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #00001a !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #00001a !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #998100 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #226741 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #e93f00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #cccccc !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #000080;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #3cb371;
}
.alert-warning {
  background-color: #ff7f50;
}
.alert-danger {
  background-color: #ffffff;
}
.mbr-gallery-filter li.active .btn {
  background-color: #000080;
  border-color: #000080;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #000080;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #0000ff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fff7cc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #94dbb3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #000080 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #000080;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #000080;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #000080;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #000080;
  border-bottom-color: #000080;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #000080 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #000080 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23000080' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-ubKJpIi7hQ {
  z-index: 1000;
  width: 100%;
}
@media (min-width: 1400px) {
  .cid-ubKJpIi7hQ .navbar-brand {
    margin-left: 6rem;
  }
}
.cid-ubKJpIi7hQ nav.navbar {
  position: fixed;
}
@media (min-width: 992px) {
  .cid-ubKJpIi7hQ .container,
  .cid-ubKJpIi7hQ .container-fluid {
    flex-wrap: initial;
  }
  .cid-ubKJpIi7hQ .nav-link:hover,
  .cid-ubKJpIi7hQ .nav-link:focus {
    border-bottom: 1px solid #ffffff;
  }
}
.cid-ubKJpIi7hQ .navbar-nav {
  margin: auto;
}
.cid-ubKJpIi7hQ .dropdown-item {
  color: #000000 !important;
}
.cid-ubKJpIi7hQ .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-ubKJpIi7hQ .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-ubKJpIi7hQ .navbar-short,
.cid-ubKJpIi7hQ .opened {
  background: #ffffff !important;
  opacity: 0.8;
  transition: all 0.3s;
}
.cid-ubKJpIi7hQ .nav-link {
  justify-content: center;
  transition: all 0.3s;
  position: relative;
  border-bottom: 1px solid transparent;
}
.cid-ubKJpIi7hQ .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ubKJpIi7hQ .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
}
.cid-ubKJpIi7hQ .dropdown-menu {
  padding: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
@media (min-width: 991px) {
  .cid-ubKJpIi7hQ .dropdown-menu {
    border: 1px solid #41392e;
  }
}
.cid-ubKJpIi7hQ .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-ubKJpIi7hQ .container {
  display: flex;
  margin: auto;
}
.cid-ubKJpIi7hQ .iconfont-wrapper {
  color: #000080 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-ubKJpIi7hQ .dropdown-menu,
.cid-ubKJpIi7hQ .navbar.opened {
  background: #ffffff !important;
}
.cid-ubKJpIi7hQ .nav-item:focus,
.cid-ubKJpIi7hQ .nav-link:focus {
  outline: none;
}
.cid-ubKJpIi7hQ .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-ubKJpIi7hQ .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-ubKJpIi7hQ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-ubKJpIi7hQ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ubKJpIi7hQ .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-ubKJpIi7hQ .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-ubKJpIi7hQ .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: rgba(255, 255, 255, 0);
}
.cid-ubKJpIi7hQ .navbar.opened {
  transition: all 0.3s;
}
.cid-ubKJpIi7hQ .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-ubKJpIi7hQ .navbar .navbar-logo img {
  width: auto;
}
.cid-ubKJpIi7hQ .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-ubKJpIi7hQ .navbar.collapsed {
  justify-content: center;
}
.cid-ubKJpIi7hQ .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-ubKJpIi7hQ .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-ubKJpIi7hQ .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-ubKJpIi7hQ .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-ubKJpIi7hQ .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-ubKJpIi7hQ .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-ubKJpIi7hQ .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-ubKJpIi7hQ .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-ubKJpIi7hQ .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-ubKJpIi7hQ .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-ubKJpIi7hQ .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-ubKJpIi7hQ .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-ubKJpIi7hQ .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-ubKJpIi7hQ .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-ubKJpIi7hQ .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-ubKJpIi7hQ .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
  }
  .cid-ubKJpIi7hQ .navbar .navbar-brand {
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-ubKJpIi7hQ .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-ubKJpIi7hQ .navbar .icons-menu {
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
  }
}
.cid-ubKJpIi7hQ .navbar.navbar-short {
  min-height: 60px;
}
.cid-ubKJpIi7hQ .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-ubKJpIi7hQ .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-ubKJpIi7hQ .navbar-brand {
  min-height: 110px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-ubKJpIi7hQ .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 400;
}
.cid-ubKJpIi7hQ .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-ubKJpIi7hQ .dropdown-item.active,
.cid-ubKJpIi7hQ .dropdown-item:active {
  background-color: transparent;
}
.cid-ubKJpIi7hQ .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-ubKJpIi7hQ .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-ubKJpIi7hQ .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-ubKJpIi7hQ .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-ubKJpIi7hQ .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-ubKJpIi7hQ .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-ubKJpIi7hQ ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-ubKJpIi7hQ .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-ubKJpIi7hQ button.navbar-toggler {
  order: 0;
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-ubKJpIi7hQ button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000080;
}
.cid-ubKJpIi7hQ button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-ubKJpIi7hQ button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ubKJpIi7hQ button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ubKJpIi7hQ button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-ubKJpIi7hQ nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ubKJpIi7hQ nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-ubKJpIi7hQ nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-ubKJpIi7hQ nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ubKJpIi7hQ .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-ubKJpIi7hQ a.nav-link {
  display: flex;
  align-items: center;
}
.cid-ubKJpIi7hQ .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-ubKJpIi7hQ .navbar {
    height: 70px;
  }
  .cid-ubKJpIi7hQ .navbar.opened {
    height: auto;
  }
  .cid-ubKJpIi7hQ .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
@media (min-width: 992px) {
  .cid-ubKJpIi7hQ .itadj {
    margin: 0;
  }
}
@media (min-width: 1400px) {
  .cid-ubKJpIi7hQ .bradj {
    margin-right: 6rem;
  }
}
.cid-ubKJpIi7hQ .clstl:hover {
  color: #000080 !important;
}
.cid-uc7oA1eRwR {
  background-image: url("../../../assets/images/park-85847-1280-1280x960.jpg");
}
.cid-uc7oA1eRwR .icon-wrapper {
  margin: auto;
  background-color: #eaeff1;
  color: #fafafa;
  border-radius: 50%;
  font-size: 48px;
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  transition: all 0.25s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.cid-uc7oA1eRwR .icon-wrapper span {
  margin-left: 10px;
}
.cid-uc7oA1eRwR .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-uc7oA1eRwR .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-uc7oA1eRwR .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-uc7oA1eRwR .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-uc7oA1eRwR .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-uc7oA1eRwR H1 {
  color: #000080;
}
.cid-uc7oA1eRwR .mbr-text,
.cid-uc7oA1eRwR .mbr-media {
  color: #ffffff;
}
.cid-uc7a25ZKDQ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uc7a25ZKDQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-uc7a25ZKDQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uc7a25ZKDQ .mbr-section-title {
  color: #000080;
}
.cid-uc7a25ZKDQ .clcr:hover {
  background-color: #3cb371 !important;
  border-color: #3cb371 !important;
}
.cid-uc8909CCG8 {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/park-85847-1280-1280x960.jpg");
}
.cid-uc8909CCG8 .mbr-section-head {
  padding: 0 1rem;
}
.cid-uc8909CCG8 .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-uc8909CCG8 .team-card:hover {
  transform: translateY(-10px);
}
.cid-uc8909CCG8 .card-wrap {
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-uc8909CCG8 .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-uc8909CCG8 .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-uc8909CCG8 .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uc8909CCG8 .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-uc8909CCG8 .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 50%;
  max-width: 40%;
}
@media (max-width: 768px) {
  .cid-uc8909CCG8 .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}
.cid-uc8909CCG8 .embla__button--next,
.cid-uc8909CCG8 .embla__button--prev {
  display: flex;
}
.cid-uc8909CCG8 .embla__button {
  top: -13%;
  width: 38px;
  height: 38px;
  margin-top: -1.5rem;
  font-size: 14px;
  background-color: transparent;
  color: #ffd700;
  border: 2px solid #ffd700;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-uc8909CCG8 .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-uc8909CCG8 .embla__button:hover {
  background: transparent;
  opacity: .7;
}
.cid-uc8909CCG8 .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-uc8909CCG8 .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 992px) {
  .cid-uc8909CCG8 .embla__button {
    top: -10%;
  }
}
.cid-uc8909CCG8 .embla {
  position: relative;
  width: 100%;
  margin-top: 52px;
  z-index: 1;
}
@media (max-width: 992px) {
  .cid-uc8909CCG8 .embla {
    margin-top: 80px;
  }
}
.cid-uc8909CCG8 .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-uc8909CCG8 .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-uc8909CCG8 .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-uc8909CCG8 .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-uc8909CCG8 .mbr-section-subtitle {
  margin-bottom: 27px;
  letter-spacing: 0.13em;
  color: #ffd700;
  text-align: center;
}
.cid-uc8909CCG8 .mbr-section-title {
  margin-bottom: 16px;
  color: #ffffff;
  text-align: center;
}
.cid-uc8909CCG8 .mbr-text {
  margin: 0;
  color: #3cb371;
  text-align: center;
}
.cid-uc8909CCG8 .mbr-text ul {
  list-style-position: inside;
  display: flex;
  justify-content: center;
  padding: 0;
}
@media (max-width: 992px) {
  .cid-uc8909CCG8 .mbr-text ul {
    display: block;
  }
}
.cid-uc8909CCG8 .mbr-text ul li {
  padding: 0 3rem;
}
@media (max-width: 992px) {
  .cid-uc8909CCG8 .mbr-text ul li {
    margin-top: 10px;
    margin-left: 0;
  }
}
.cid-uc8909CCG8 .mbr-text ul li::marker {
  color: #000080;
  font-size: 18px;
}
.cid-uc8909CCG8 .item-wrapper {
  border-radius: 20px;
  height: 100%;
}
.cid-uc8909CCG8 .item-wrapper .image-wrap {
  height: 100%;
}
.cid-uc8909CCG8 .item-wrapper .image-wrap img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uc8909CCG8 .item-wrapper .image-wrap img {
    height: 320px;
  }
}
.cid-uc8909CCG8 .clcr1 {
  color: #000080 !important;
}
.cid-uc8909CCG8 .imagefo {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
.cid-uc8909CCG8 .image-wrap:hover .imagefo {
  opacity: 0.5;
}
.cid-uc8909CCG8 .image-wrap {
  background-color: #000;
}
.cid-uc8Aebmsro {
  padding-top: 15rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uc8Aebmsro .mbr-section-title {
  color: #000080;
}
.cid-uc8Bn9dPUb {
  padding-top: 6rem;
  padding-bottom: 10rem;
  background-color: #ffffff;
}
.cid-uc8Bn9dPUb .mbr-section-title {
  color: #000080;
}
#custom-html-x {
  /* Type valid CSS here */
}
#custom-html-x div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-x p {
  font-size: 60px;
  color: #777;
}
.cid-ucjd78ocws {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/20181224-201655-1280x753.jpg");
}
.cid-ucjd78ocws .mbr-fallback-image.disabled {
  display: none;
}
.cid-ucjd78ocws .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ucjd78ocws .mbr-section-title {
  color: #ffffff;
}
.cid-ucjd78ocws .mbr-text {
  color: #ffd700;
}
.cid-ucjd78ocws .dragArea {
  width: 100%;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: 0 !important;
}
.cid-ucjd78ocws .form-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  max-width: 450px;
  margin: 1rem auto 0;
  background-color: #FFFFFF;
  box-shadow: none;
  border-radius: 9999px;
  min-height: 50px;
  padding: 1px !important;
}
.cid-ucjd78ocws .form-container .form-control {
  background-color: transparent;
}
.cid-ucjd78ocws .form-group {
  flex-grow: 1;
  margin-bottom: 0 !important;
}
.cid-ucjd78ocws .mbr-section-btn {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.cid-ucjd78ocws .mbr-section-btn .btn {
  width: 130px;
  border-radius: 9999px;
  min-height: 48px;
  height: 100%;
  padding: 6px 24px;
}
@media (max-width: 575px) {
  .cid-ucjd78ocws .mbr-section-btn {
    width: auto !important;
  }
}
.cid-ucjd78ocws .form-control {
  width: 100%;
  background-color: #FFFFFF;
  border: none !important;
  box-shadow: none !important;
  padding: 8px 24px;
  min-height: 48px;
  height: 100%;
}
.cid-ucjd78ocws .form-control:hover,
.cid-ucjd78ocws .form-control:focus {
  border: none !important;
  box-shadow: none !important;
}
.cid-ucjd78ocws .form-control::-webkit-input-placeholder {
  font-size: 18px;
  color: #bbbbbb;
}
.cid-ucjd78ocws .form-control::-moz-placeholder {
  font-size: 18px;
  color: #bbbbbb;
}
.cid-ucjd78ocws .form-control:-moz-placeholder {
  font-size: 18px;
  color: #bbbbbb;
}
.cid-ucjd78ocws .form-control:-ms-input-placeholder {
  font-size: 18px;
  color: #bbbbbb;
}
.cid-ucjnjiOdND {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ucjnjiOdND .navbar-logo {
  width: 100px;
  margin-bottom: 10px;
  margin: auto;
}
.cid-ucjnjiOdND .navbar-brand {
  margin: auto;
  width: 100%;
  text-align: center;
}
.cid-ucjnjiOdND .socicon {
  font-size: 1.3rem;
  background: #e9e9e9;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-ucjnjiOdND .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.cid-ucjnjiOdND .social-list .soc-item {
  display: inline-block;
  margin: 0 0.3rem;
}
.cid-ucjnjiOdND .text2 {
  color: #000000;
  text-align: left;
}
.cid-ucjnjiOdND .group-title {
  text-align: left;
  color: #000000;
  padding-bottom: 0.2rem;
}
.cid-ucjnjiOdND .logo-title {
  text-align: center;
}
.cid-ucjnjiOdND .logo-sub-title {
  text-align: center;
}
.cid-ucjnjiOdND .links {
  text-align: center;
  color: #656565;
}
.cid-ucjnjiOdND .logo-sub-title i {
  color: #9e9e9e;
}
.cid-ucjnjiOdND .logo-title,
.cid-ucjnjiOdND .logo {
  color: #000080;
}
.cid-ucM3zr85ZR {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
@media (min-width: 1400px) {
  .cid-ucM3zr85ZR .navbar-brand {
    margin-left: 6rem;
  }
}
.cid-ucM3zr85ZR nav.navbar {
  position: fixed;
}
@media (min-width: 992px) {
  .cid-ucM3zr85ZR .container,
  .cid-ucM3zr85ZR .container-fluid {
    flex-wrap: initial;
  }
  .cid-ucM3zr85ZR .nav-link:hover,
  .cid-ucM3zr85ZR .nav-link:focus {
    border-bottom: 1px solid #ffffff;
  }
}
.cid-ucM3zr85ZR .navbar-nav {
  margin: auto;
}
.cid-ucM3zr85ZR .dropdown-item {
  color: #000000 !important;
}
.cid-ucM3zr85ZR .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-ucM3zr85ZR .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-ucM3zr85ZR .navbar-short,
.cid-ucM3zr85ZR .opened {
  background: #ffffff !important;
  opacity: 0.8;
  transition: all 0.3s;
}
.cid-ucM3zr85ZR .nav-link {
  justify-content: center;
  transition: all 0.3s;
  position: relative;
  border-bottom: 1px solid transparent;
}
.cid-ucM3zr85ZR .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ucM3zr85ZR .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
}
.cid-ucM3zr85ZR .dropdown-menu {
  padding: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
@media (min-width: 991px) {
  .cid-ucM3zr85ZR .dropdown-menu {
    border: 1px solid #41392e;
  }
}
.cid-ucM3zr85ZR .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-ucM3zr85ZR .container {
  display: flex;
  margin: auto;
}
.cid-ucM3zr85ZR .iconfont-wrapper {
  color: #000080 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-ucM3zr85ZR .dropdown-menu,
.cid-ucM3zr85ZR .navbar.opened {
  background: #ffffff !important;
}
.cid-ucM3zr85ZR .nav-item:focus,
.cid-ucM3zr85ZR .nav-link:focus {
  outline: none;
}
.cid-ucM3zr85ZR .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-ucM3zr85ZR .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-ucM3zr85ZR .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-ucM3zr85ZR .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ucM3zr85ZR .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-ucM3zr85ZR .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-ucM3zr85ZR .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-ucM3zr85ZR .navbar.opened {
  transition: all 0.3s;
}
.cid-ucM3zr85ZR .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-ucM3zr85ZR .navbar .navbar-logo img {
  width: auto;
}
.cid-ucM3zr85ZR .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-ucM3zr85ZR .navbar.collapsed {
  justify-content: center;
}
.cid-ucM3zr85ZR .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-ucM3zr85ZR .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-ucM3zr85ZR .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-ucM3zr85ZR .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-ucM3zr85ZR .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-ucM3zr85ZR .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-ucM3zr85ZR .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-ucM3zr85ZR .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-ucM3zr85ZR .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-ucM3zr85ZR .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-ucM3zr85ZR .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-ucM3zr85ZR .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-ucM3zr85ZR .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-ucM3zr85ZR .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-ucM3zr85ZR .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-ucM3zr85ZR .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
  }
  .cid-ucM3zr85ZR .navbar .navbar-brand {
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-ucM3zr85ZR .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-ucM3zr85ZR .navbar .icons-menu {
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
  }
}
.cid-ucM3zr85ZR .navbar.navbar-short {
  min-height: 60px;
}
.cid-ucM3zr85ZR .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-ucM3zr85ZR .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-ucM3zr85ZR .navbar-brand {
  min-height: 110px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-ucM3zr85ZR .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 400;
}
.cid-ucM3zr85ZR .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-ucM3zr85ZR .dropdown-item.active,
.cid-ucM3zr85ZR .dropdown-item:active {
  background-color: transparent;
}
.cid-ucM3zr85ZR .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-ucM3zr85ZR .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-ucM3zr85ZR .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-ucM3zr85ZR .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-ucM3zr85ZR .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-ucM3zr85ZR .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-ucM3zr85ZR ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-ucM3zr85ZR .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-ucM3zr85ZR button.navbar-toggler {
  order: 0;
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-ucM3zr85ZR button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000080;
}
.cid-ucM3zr85ZR button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-ucM3zr85ZR button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ucM3zr85ZR button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ucM3zr85ZR button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-ucM3zr85ZR nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ucM3zr85ZR nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-ucM3zr85ZR nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-ucM3zr85ZR nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ucM3zr85ZR .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-ucM3zr85ZR a.nav-link {
  display: flex;
  align-items: center;
}
.cid-ucM3zr85ZR .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-ucM3zr85ZR .navbar {
    height: 70px;
  }
  .cid-ucM3zr85ZR .navbar.opened {
    height: auto;
  }
  .cid-ucM3zr85ZR .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
@media (min-width: 992px) {
  .cid-ucM3zr85ZR .itadj {
    margin: 0;
  }
}
@media (min-width: 1400px) {
  .cid-ucM3zr85ZR .bradj {
    margin-right: 6rem;
  }
}
.cid-ucM3zr85ZR .clstl:hover {
  color: #000080 !important;
}
.cid-ue1CNkoLaL {
  padding-top: 10rem;
  padding-bottom: 6rem;
  background-color: #000080;
}
.cid-ue1CNkoLaL img,
.cid-ue1CNkoLaL .item-img {
  width: 100%;
  height: 100%;
  height: 500px;
  object-fit: cover;
}
.cid-ue1CNkoLaL .item:focus,
.cid-ue1CNkoLaL span:focus {
  outline: none;
}
.cid-ue1CNkoLaL .item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}
.cid-ue1CNkoLaL .item-wrapper {
  position: unset;
  border-radius: 50px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-ue1CNkoLaL .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-ue1CNkoLaL .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-ue1CNkoLaL .mbr-section-btn {
  margin-top: auto !important;
}
.cid-ue1CNkoLaL .mbr-section-title {
  color: #ffffff;
}
.cid-ue1CNkoLaL .mbr-text,
.cid-ue1CNkoLaL .mbr-section-btn {
  text-align: center;
  color: #000080;
}
.cid-ue1CNkoLaL .item-title {
  text-align: center;
  color: #000080;
}
.cid-ue1CNkoLaL .item-subtitle {
  text-align: center;
  color: #d2691e;
}
.cid-ue1CNkoLaL .mbr-section-subtitle {
  color: #ffffff;
}
.cid-ucM3zwF9RG {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ucM3zwF9RG .navbar-logo {
  width: 100px;
  margin-bottom: 10px;
  margin: auto;
}
.cid-ucM3zwF9RG .navbar-brand {
  margin: auto;
  width: 100%;
  text-align: center;
}
.cid-ucM3zwF9RG .socicon {
  font-size: 1.3rem;
  background: #e9e9e9;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-ucM3zwF9RG .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.cid-ucM3zwF9RG .social-list .soc-item {
  display: inline-block;
  margin: 0 0.3rem;
}
.cid-ucM3zwF9RG .text2 {
  color: #000000;
  text-align: left;
}
.cid-ucM3zwF9RG .group-title {
  text-align: left;
  color: #000000;
  padding-bottom: 0.2rem;
}
.cid-ucM3zwF9RG .logo-title {
  text-align: center;
}
.cid-ucM3zwF9RG .logo-sub-title {
  text-align: center;
}
.cid-ucM3zwF9RG .links {
  text-align: center;
  color: #656565;
}
.cid-ucM3zwF9RG .logo-sub-title i {
  color: #9e9e9e;
}
.cid-ucM3zwF9RG .logo-title,
.cid-ucM3zwF9RG .logo {
  color: #000080;
}
