@font-face {
   font-family: 'Azeret Mono';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Azeret Mono';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Azeret Mono';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Azeret Mono';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Azeret Mono';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Azeret Mono';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Azeret Mono';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Azeret Mono';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Azeret Mono';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Azeret Mono';
   font-style: italic;
   font-display: swap;
   font-weight: 100;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/100italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Azeret Mono';
   font-style: italic;
   font-display: swap;
   font-weight: 200;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/200italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Azeret Mono';
   font-style: italic;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Azeret Mono';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Azeret Mono';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Azeret Mono';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Azeret Mono';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Azeret Mono';
   font-style: italic;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/800italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Azeret Mono';
   font-style: italic;
   font-display: swap;
   font-weight: 900;
   src: url('file:///C:/Users/Jerick%20Castro/Desktop/Portafolio/e-Writter/template/fonts/Azeret Mono/900italic.ttf') format('truetype');
}
